@media (max-width: 768px) {
    .navbar__main {
        left: 5vw;
    }
    .navbar__links {
        display: none;
    }
    .navbar__hamburger {
        display: block;
        width: 30px;
        position: absolute;
        right: 5vw;
        top: 45px;
    }
    .section {
        flex-direction: column;
        margin: 27px;
    }
    .section__p {
        width: unset;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
}
