@use 'fonts';
@use 'animations';
@import 'variables';

@mixin headline($photo-url) {
    background: url($photo-url), lightgray 50% / cover no-repeat;
    background-size: cover;
}
@mixin headline-animation($photo-url) {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url($photo-url);
    background-size: cover;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
@mixin headers($font-color) {
    text-align: center;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: $font-color;
}

@mixin description($font-color) {
    text-align: center;
    font-family: Source_Sans_Pro;
    font-size: 24px;
    line-height: 32px;
    color: $font-color;
}

%button {
    background-color: $main-accent;
    font-family: Oswald;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    color: white;
}

%footer_font {
    color: rgba(255, 255, 255, 0.4);
    font-family: Source_Sans_Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

html { scroll-behavior: smooth; }
body { margin: 0; }

.header-intro {
    height: 100vh;
    @include headline("../assets/header-background.png");
}

.header-intro::before {
    @include headline-animation("../assets/stars.svg");
    animation: stars 7s infinite;
    transform-origin: right center;
    box-sizing: border-box;
}
.header-intro::after {
    @include headline-animation("../assets/rays.svg");
    opacity: 0;
    animation: rays 7s infinite;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    font-family: Source_Sans_Pro;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
}

.navbar__main {
    position: absolute;
    font-size: 20px;
    left: 10vw;
    top: 45px;
}
.navbar__links {
    height: 110px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}
.navbar__link {
    color: white;
    text-decoration: none;
}
.navbar__link:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}
.navbar__hamburger { display: none; }

.logo {
    margin-top: 20vh;
    text-align: center;
    font-size: 24px;
}

.logo__img {
    transition: all 0.3s;
    z-index: 1;
    position: relative;
}
.logo__img:hover {
    transform: rotateY(180deg) scale(1.3);
    transition: transform 0.3s;
}

.logo__header {
    @include headers(white);
}

.logo__p {
    @include description(rgba(255,255,255,0.4));
}

.section-headline {
    padding: 100px 0px;
}

.section-header {
    @include headers($background-accent);
}

.section-description {
    @include description($blank-text-color);
}

.section {
    @include description($blank-text-color);
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin: 45px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__p {
    width: 50%;
}

.section-button {
    @extend %button;
    padding: 5px 18px;
    border-radius: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    transform-origin: center left;
    transition: transform 0.3s;
}
.section-button:hover {
    transform: translate(-50%) rotate(8deg);
    transition: transform 0.8;
}

.culture-headline {
    @include headline("../assets/culture-background.png");
    padding: 10px 20vw 80px 20vw;
}

.culture-button {
    @extend %button;
    width: 150px;
    height: 150px;
    font-size: 130px;
    border-radius: 50%;
    transition: all 0.3s;
}

.culture-button:hover {
    background: white;
    color: $main-accent;
    transform: scale(0.95);
    transition: all 0.3s;
}

.culture-description {
    color: white;
}

.footer {
    @extend %footer_font;
    background: $background-accent;
    padding: 37px 150px;
    display: flex;
    gap: 3vw;
}

.footer__logo {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3.6px;
    font-size: 18px;
}

.footer__logo::before {
    content: "";
    background: url("../assets/logo_footer.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px 16px -3px 0px;
}

.address {
    flex:2;
}

@import 'mobile';
